<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main page</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
      }
      body {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        width: 300px;
        height: auto;
        border-radius: 10px;
        background-color: #3d5b59;
      }
      input, button{
        border-radius: 5px;
        padding: 5px;
        margin: 20px 0;
        width: 260px;
        height: 40px;
        outline: none;
        border: none;
        font-weight: bolder;
        
      }
      button{
        color: orangered;
        cursor: pointer;
      }
      h2{
        color: #b5e5cf;
      }
      a{
        color: orangered;
      }
      
    </style>
  </head>
  <body>
    <div class="container">
        <h2>Login</h2><br><br>
        <form action="/api/login" method="post">
          <input type="email" placeholder="Enter your email..." name="email" /><br />
          <input type="password" placeholder="Enter your password..." name="password" /><br /><br />
          <button type="submit">Login</button>
        </form>
        <a href="/api/registration">You don't have an account?</a>
      </div>
      
      
  </body>
</html>
